* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 360px;
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
}

.app {
  /* margin: auto; */
  background-image: url(./assets/pexels-zaksheuskaya-1568607.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4)
  );
  min-height: 100vh;
  padding: 20px;
}

/* == SEARCH BAR === */

form {
  display: flex;
  flex-direction: row;
}

.search-ctnr {
  width: 50%;
  position: relative;
  margin: auto;
  /* background: chartreuse; */
}

input {
  width: 100%;
  height: 60px;
  display: block;
  font-size: ;
}

button {
  position: absolute;
  right: 0;
  width: 3em;
  height: 100%;
  border-radius: 50%;
  /* height: 3em; */
  padding: 10px;
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  align-content: center;
  background-color: rgba(23, 238, 238, 0.753);
  color: #fff;
}

button:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.search-bar {
  display: flex;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: rgb(224, 24, 117);
  font-size: 1.25rem;

  transition: 0.4s ease;
}

::placeholder {
  color: rgb(224, 24, 117);
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

/* === Location Box === */

.location-box {
  margin-top: 7em;
  position: relative;
  height: 20vh;
}

.location-box .location {
  position: absolute;
  top: -22%;
  left: 9%;
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px rgb(224, 24, 117);
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.location-box .date {
  /* padding: 0 20px; */
  width: 50%;
  position: absolute;
  top: 25%;
  left: 41%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  background-color: rgb(25, 233, 216);
  /* text-shadow: 2px 2px rgba(50, 50, 70, 0.5); */
}

.box {
  height: 60vh;
  width: 70vw;
  background-image: url(./assets/pexels-zaksheuskaya-1568607.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(129, 228, 63, 1);
  /* box-shadow: 2px 2px rgba(251, 251, 255, 0.5); */
  box-shadow: 0px 0px 15px 0px rgba(251, 251, 255, 1);
  margin: auto;
}

.weather-data__box {
  text-align: center;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.weather-data__box .weather-data__value {
  color: #fff;
  font-size: 6.375rem;
  font-weight: 900;
  display: flex;
  margin: -40px auto;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.weather-data__box .weather-data__icon {
  color: #fff;
  font-size: 5em;
  display: flex;
  margin: 30px auto;
}

.weather-data__box .weather-data__main {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin: -15px auto;
}
.weather-data__main {
  text-shadow: 3px 4px rgba(50, 50, 70, 0.5);
}

/* === Media Query === */

@media (max-width: 460px) {
  .search-ctnr {
    width: 60%;
    position: relative;
    margin: auto;
  }

  .location-box .location {
    position: absolute;
    top: -19%;
    left: 2%;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
    text-shadow: 2px 2px rgb(224, 24, 117);
  }
  .location-box .date {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 41%;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    background-color: rgb(25, 233, 216);
    /* text-shadow: 2px 2px rgba(50, 50, 70, 0.5); */
  }

  .weather-data__box .weather-data__value {
    color: #fff;
    font-size: 5.5rem;
    font-weight: 900;
    display: flex;
    margin: -40px auto;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  }
}
